<br/>
<button type="button" class="btn btn-secondary btn-sm" (click)="onBack()">Back</button>
<br/>
<br/>
<div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
<h3>Role: {{ this.jobTitle }} </h3>
<h5>Company: {{ this.company }} </h5>
<h5>Location: {{ this.location}}</h5>
<a class="btn btn-info" role="button" (click)="onLogin()" *ngIf="!isLoggedIn">Login to Apply</a>
<a href="{{this.applyURL}}" target="_blank" *ngIf="isLoggedIn" class="btn btn-info" role="button">Apply Now</a>
<h3> Description:</h3>
<div [innerHTML]="this.description"></div>
<br/>
<small>Posted Date: {{this.date}} </small>
</div>